<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.finance.FinanceBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.ht.popj.finance.FinanceBalance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="occurTime" property="occurtime" jdbcType="TIMESTAMP" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="financeMan" property="financeman" jdbcType="VARCHAR" />
    <result column="stud_id" property="studId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="reportMan" property="reportman" jdbcType="VARCHAR" />
    <result column="systime" property="systime" jdbcType="TIMESTAMP" />
    <result column="finance_remark" property="financeRemark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
     <result column="identifying" property="identifying" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, occurTime, money, financeMan, stud_id, order_id, reportMan, systime, finance_remark, create_time, 
    update_time, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from finance_balance
    where id = #{id,jdbcType=INTEGER} and status=0
  </select>
  
    <select id="selectByPrimaryOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from finance_balance
    where order_id = #{orderId} and status=0
  </select>
  
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update finance_balance set status=1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.ht.popj.finance.FinanceBalance" >
    insert into finance_balance (id, type_id, occurTime, 
      money, financeMan, stud_id, order_id, reportMan, 
      systime, finance_remark, create_time, 
      update_time, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{occurtime,jdbcType=TIMESTAMP}, 
      #{money,jdbcType=REAL}, #{financeman,jdbcType=VARCHAR}, #{studId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{reportman,jdbcType=VARCHAR}, 
      #{systime,jdbcType=TIMESTAMP}, #{financeRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.popj.finance.FinanceBalance" >
    insert into finance_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="occurtime != null" >
        occurTime,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="financeman != null" >
        financeMan,
      </if>
      <if test="studId != null" >
        stud_id,
      </if>
       <if test="orderId != null" >
        order_id,
      </if>
      <if test="reportman != null" >
        reportMan,
      </if>
      <if test="systime != null" >
        systime,
      </if>
      <if test="financeRemark != null" >
        finance_remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="occurtime != null" >
        #{occurtime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="financeman != null" >
        #{financeman,jdbcType=VARCHAR},
      </if>
      <if test="studId != null" >
        #{studId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="reportman != null" >
        #{reportman,jdbcType=VARCHAR},
      </if>
      <if test="systime != null" >
        #{systime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeRemark != null" >
        #{financeRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"  parameterType="com.ht.popj.finance.FinanceBalance" >
    update finance_balance
    <set >
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="occurtime != null" >
        occurTime = #{occurtime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="financeman != null" >
        financeMan = #{financeman,jdbcType=VARCHAR},
      </if>
       <if test="studId != null" >
        stud_id = #{studId,jdbcType=INTEGER},
      </if>
       <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="reportman != null" >
        reportMan = #{reportman,jdbcType=VARCHAR},
      </if>
      <if test="systime != null" >
        systime = #{systime,jdbcType=TIMESTAMP},
      </if>
      <if test="financeRemark != null" >
        finance_remark = #{financeRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.popj.finance.FinanceBalance" >
    update finance_balance
    set type_id = #{typeId,jdbcType=INTEGER},
      occurTime = #{occurtime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=REAL},
      financeMan = #{financeman,jdbcType=VARCHAR},
      stud_id = #{studId,jdbcType=INTEGER},
       order_id = #{orderId,jdbcType=VARCHAR},
      reportMan = #{reportman,jdbcType=VARCHAR},
      systime = #{systime,jdbcType=TIMESTAMP},
      finance_remark = #{financeRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap type="com.ht.popj.finance.FinanceBalance" id="allBalanceInfo" extends="BaseResultMap">
       <association property="reportEmp" javaType="com.ht.popj.dailyWork.Emp" column="reportMan" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
	   </association>
      	<association property="financeEmp" javaType="com.ht.popj.dailyWork.Emp" column="financeMan" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
	   </association>
	   <association property="type" javaType="com.ht.popj.finance.FinanceType" column="type_id" select="com.ht.mapper.finance.FinanceTypeMapper.selectByPrimaryKey">
	   </association>
  </resultMap>
    <select id="selectFinanceBalanceAll" resultMap="BaseResultMap">
		select * from finance_balance where status=0
	</select>
	<select id="selectByDynamic" resultMap="allBalanceInfo" parameterType="com.ht.popj.finance.FinanceBalance">
		select * from finance_balance
		<where>
		    	AND status!=1
		    <if test="id != null and id != '' and id !=0" >
        		AND id = #{id},
		    </if>
		    <if test="typeId != null and typeId != '' and typeId !=0" >
        		AND type_id = #{typeId,jdbcType=INTEGER}
		    </if>
		    <if test="money != null" >
		        AND money = #{money,jdbcType=REAL}
		    </if>
		    <if test="financeman != null and !financeman.isEmpty()" >
		        AND financeMan = #{financeman,jdbcType=VARCHAR}
		    </if>
		     <if test="studId != null and studId != '' and studId !=0" >
        		AND stud_id = #{studId,jdbcType=INTEGER}
		    </if>
		      <if test="orderId != null and orderId != '' and !orderId.isEmpty()" >
        		AND order_id = #{orderId,jdbcType=VARCHAR}
		    </if>
		    <if test="reportman != null and !reportman.isEmpty()" >
		        AND reportMan = #{reportman,jdbcType=VARCHAR}
		    </if>
		</where>
	</select>
	<select id="selectByDynamicOfBalance" resultMap="allBalanceInfo" parameterType="com.ht.popj.finance.FinanceBalance">
		select * from finance_balance b, finance_type t
		<where>
		    	AND  b.type_id = t.id AND b.status!=1
		    <if test="id != null and id != '' and id !=0" >
        		AND b.id = #{id},
		    </if>
		    <if test="typeId != null and typeId != '' and typeId !=0" >
        		AND b.type_id = #{typeId,jdbcType=INTEGER}
		    </if>
		    <if test="money != null" >
		        AND b.money = #{money,jdbcType=REAL}
		    </if>
		    <if test="financeman != null and !financeman.isEmpty()" >
		        AND b.financeMan = #{financeman,jdbcType=VARCHAR}
		    </if>
		     <if test="studId != null and studId != '' and studId !=0" >
        		AND b.stud_id = #{studId,jdbcType=INTEGER}
		    </if>
		    <if test="reportman != null and !reportman.isEmpty()" >
		        AND b.reportMan = #{reportman,jdbcType=VARCHAR}
		    </if>
		    <if test="startTime != null and !startTime.isEmpty()" >
		        AND b.occurTime &gt;#{startTime}
		    </if>
		    <if test="endTime != null and !endTime.isEmpty()" >
		        AND b.occurTime &lt;#{endTime}
		    </if>
		     <if test="identifying != null and !identifying.isEmpty()" >
		        AND t.identifying =#{identifying}
		    </if>
		    <if test="status != null and status != '' and status==3">
		        AND b.status IN (3,5)
		    </if>
		    <if test="status != null and status != '' and status==4">
		        AND b.status IN (4,6)
		    </if>
		    <if test="status != null and status!=1 and status!=3 and status!=4">
		        AND b.status=#{status}
		    </if>
		    order by occurtime desc
		    	<!-- AND b.reportMan is not null AND b.reportMan &lt;&gt;0 -->
		</where>
	</select>
	<select id="getCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	    select count(*) from finance_balance where status=0
	</select>
	
	<resultMap type="com.ht.popj.finance.FinanceBalance" id="allBalanceByStudend" extends="BaseResultMap">
       <association property="financeEmp" javaType="com.ht.popj.dailyWork.Emp" column="financeMan" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
	   </association>
      	<association property="stud" javaType="com.ht.popj.student.Student" column="stud_id" select="com.ht.mapper.student.StudentMapper.selectByPrimaryKey">
	   </association>
	   <association property="type" javaType="com.ht.popj.finance.FinanceType" column="type_id" select="com.ht.mapper.finance.FinanceTypeMapper.selectByPrimaryKey">
	   </association>
  </resultMap>
  <select id="selectByDynamicOfStudent" resultMap="allBalanceByStudend" parameterType="com.ht.popj.finance.FinanceBalance">
		select * from finance_balance
		<where>
		    	AND status=0
		    <if test="id != null and id != '' and id !=0" >
        		AND id = #{id}
		    </if>
		    <if test="typeId != null and typeId != '' and typeId !=0" >
        		AND type_id = #{typeId,jdbcType=INTEGER}
		    </if>
		    <if test="money != null" >
		        AND money = #{money,jdbcType=REAL}
		    </if>
		    <if test="financeman != null and !financeman.isEmpty()" >
		        AND financeMan = #{financeman,jdbcType=VARCHAR}
		    </if>
		     <if test="studId != null and studId != '' and studId !=0" >
        		AND stud_id = #{studId,jdbcType=INTEGER}
		    </if>
		     <if test="orderId != null and orderId != '' and !orderId.isEmpty()" >
        		AND order_id = #{orderId,jdbcType=VARCHAR}
		    </if>
		    <if test="reportman != null and !reportman.isEmpty()" >
		        AND reportMan = #{reportman,jdbcType=VARCHAR}
		    </if>
		    	AND stud_id is not null AND stud_id &lt;&gt;0 AND type_id &lt;&gt;11
		</where>
	</select>
	
  <resultMap type="com.ht.popj.finance.FinanceBalance" id="statisticsTuition" extends="BaseResultMap">
       <association property="financeEmp" javaType="com.ht.popj.dailyWork.Emp" column="financeMan" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
	   </association>
      	<association property="stud" javaType="com.ht.popj.student.Student" column="stud_id" select="com.ht.mapper.student.StudentMapper.selectByPrimaryKey">
	   </association>
	   <association property="fee" javaType="com.ht.popj.finance.FinanceFeestandard" column="type_id" select="com.ht.mapper.finance.FinanceFeestandardMapper.selectByPrimaryKey">
	   </association>
	   <association property="type" javaType="com.ht.popj.finance.FinanceType" column="type_id" select="com.ht.mapper.finance.FinanceTypeMapper.selectByPrimaryKey">
	   </association>
  </resultMap>
   <select id="statisticsAllFee" resultMap="statisticsTuition" parameterType="com.ht.popj.finance.FinanceBalance">
		select * from finance_balance
		<where>
		    	AND status=0
		    <if test="id != null and id != '' and id !=0" >
        		AND id = #{id}
		    </if>
		    <if test="typeId != null and typeId != '' and typeId !=0" >
        		AND type_id = #{typeId,jdbcType=INTEGER}
		    </if>
		    <if test="money != null" >
		        AND money = #{money,jdbcType=REAL}
		    </if>
		    <if test="financeman != null and !financeman.isEmpty()" >
		        AND financeMan = #{financeman,jdbcType=VARCHAR}
		    </if>
		     <if test="studId != null and studId != '' and studId !=0" >
        		AND stud_id = #{studId,jdbcType=INTEGER}
		    </if>
		   <if test="orderId != null and orderId != '' and !orderId.isEmpty()" >
        		AND order_id = #{orderId,jdbcType=VARCHAR}
		    </if>
		    <if test="reportman != null and !reportman.isEmpty()" >
		        AND reportMan = #{reportman,jdbcType=VARCHAR}
		    </if>
		</where>
	</select>
</mapper>