<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.flow.FlowReturnmaterialMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.flow.FlowReturnmaterial">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="materialid" property="materialid" jdbcType="INTEGER" />
		<result column="counts" property="counts" jdbcType="INTEGER" />
		<result column="empid" property="empid" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="upset" property="upset" jdbcType="INTEGER" />
		<result column="flowModelTypeid" property="flowmodeltypeid"
			jdbcType="INTEGER" />
		<result column="approvestatus" property="approvestatus"
			jdbcType="INTEGER" />
		<result column="applyman" property="applyman" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="ReturnMap" type="com.ht.popj.flow.FlowReturnmaterial">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="materialid" property="materialid" jdbcType="INTEGER" />
		<result column="counts" property="counts" jdbcType="INTEGER" />
		<result column="empid" property="empid" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="upset" property="upset" jdbcType="INTEGER" />
		<result column="flowModelTypeid" property="flowmodeltypeid"
			jdbcType="INTEGER" />
		<result column="approvestatus" property="approvestatus"
			jdbcType="INTEGER" />
		<collection property="material" ofType="com.ht.popj.dailyWork.Material">
			<id column="mmid" property="id" jdbcType="INTEGER" />
			<result column="materialTypeid" property="materialtypeid"
				jdbcType="INTEGER" />
			<result column="materialName" property="materialname"
				jdbcType="VARCHAR" />
			<result column="Unit" property="unit" jdbcType="VARCHAR" />
			<result column="Price" property="price" jdbcType="DECIMAL" />
			<result column="Style" property="style" jdbcType="VARCHAR" />
			<result column="Counts" property="counts" jdbcType="INTEGER" />
			<result column="Meterial_Remark" property="meterialRemark"
				jdbcType="VARCHAR" />
			<result column="Create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="Update_time" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="Status" property="status" jdbcType="INTEGER" />
			<result column="Remark" property="remark" jdbcType="VARCHAR" />
		</collection>
		<collection property="emp" ofType="com.ht.popj.dailyWork.Emp">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="empname" jdbcType="INTEGER" property="empname" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		id, materialid, counts, empid, createtime, updatetime,
		status, remark,
		upset, flowModelTypeid,approvestatus,applyman
	</sql>
	<select id="selectByPrimaryKey" resultMap="ReturnMap"
		parameterType="java.lang.Integer">
		SELECT frm.*,e.empname AS empname,m.* FROM flow_returnmaterial
		frm,emp e,material m
		 where e.id=frm.empid and frm.status=1 and m.id=frm.materialid
		 and frm.status=1 and frm.id
		= #{id,jdbcType=INTEGER}
	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * from flow_returnmaterial where status=1 ORDER BY createtime
		DESC
	</select>

	<select id="selectSelective" resultMap="ReturnMap"
		parameterType="com.ht.popj.flow.FlowReturnmaterial">
		SELECT frm.*,e.empname AS empname,m.* FROM flow_returnmaterial
		frm,emp e,material m
		<where>
			e.id=frm.empid and frm.status=1 and m.id=frm.materialid
			<if test="materialid != null">
				AND frm.materialid = #{materialid,jdbcType=INTEGER}
			</if>
			<if test="counts != null">
				AND frm.counts = #{counts,jdbcType=INTEGER}
			</if>
			<if test="empid != null">
				AND frm.empid = #{empid,jdbcType=VARCHAR}
			</if>
			<if test="createtime != null">
				AND frm.createtime = #{createtime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				AND frm.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="remark != null">
				AND frm.remark = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="upset != null">
				AND frm.upset = #{upset,jdbcType=INTEGER}
			</if>
			<if test="flowmodeltypeid != null">
				AND frm.flowModelTypeid = #{flowmodeltypeid,jdbcType=INTEGER}
			</if>
			<if test="approvestatus != null">
				AND frm.approvestatus = #{approvestatus,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update
		flow_returnmaterial set status=0 where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.ht.popj.flow.FlowReturnmaterial">
		insert into flow_returnmaterial
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="materialid != null">
				materialid,
			</if>
			<if test="counts != null">
				counts,
			</if>
			<if test="empid != null">
				empid,
			</if>
				createtime,
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="upset != null">
				upset,
			</if>
			<if test="flowmodeltypeid != null">
				flowModelTypeid,
			</if>
			<if test="approvestatus != null">
				approvestatus,
			</if>
			<if test="applyman != null">
				applyman,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="materialid != null">
				#{materialid,jdbcType=INTEGER},
			</if>
			<if test="counts != null">
				#{counts,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				#{empid,jdbcType=VARCHAR},
			</if>
				NOW(),
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="upset != null">
				#{upset,jdbcType=INTEGER},
			</if>
			<if test="flowmodeltypeid != null">
				#{flowmodeltypeid,jdbcType=INTEGER},
			</if>
			<if test="approvestatus != null">
				#{approvestatus,jdbcType=INTEGER},
			</if>
			<if test="applyman != null">
				#{applyman,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.flow.FlowReturnmaterial">
		update flow_returnmaterial
		<set>
			<if test="materialid != null">
				materialid = #{materialid,jdbcType=INTEGER},
			</if>
			<if test="counts != null">
				counts = #{counts,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				empid = #{empid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
				updatetime = NOW(),
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="upset != null">
				upset = #{upset,jdbcType=INTEGER},
			</if>
			<if test="flowmodeltypeid != null">
				flowModelTypeid = #{flowmodeltypeid,jdbcType=INTEGER},
			</if>
			<if test="approvestatus != null">
				approvestatus = #{approvestatus,jdbcType=INTEGER},
			</if>
			<if test="applyman != null">
				applyman = #{applyman,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>