<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.flow.FlowReturnmaterialdetailMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.flow.FlowReturnmaterialdetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="returnmaterid" property="returnmaterid"
			jdbcType="INTEGER" />
		<result column="flowModelid" property="flowmodelid" jdbcType="INTEGER" />
		<result column="empid" property="empid" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="ReturnMap" type="com.ht.popj.flow.FlowReturnmaterialdetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="returnmaterid" property="returnmaterid"
			jdbcType="INTEGER" />
		<result column="flowModelid" property="flowmodelid" jdbcType="INTEGER" />
		<result column="empid" property="empid" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<collection property="material" ofType="com.ht.popj.dailyWork.Material">
			<id column="mmid" property="id" jdbcType="INTEGER" />
			<result column="materialTypeid" property="materialtypeid"
				jdbcType="INTEGER" />
			<result column="materialName" property="materialname"
				jdbcType="VARCHAR" />
			<result column="Unit" property="unit" jdbcType="VARCHAR" />
			<result column="Price" property="price" jdbcType="DECIMAL" />
			<result column="Style" property="style" jdbcType="VARCHAR" />
			<result column="Counts" property="counts" jdbcType="INTEGER" />
			<result column="Meterial_Remark" property="meterialRemark"
				jdbcType="VARCHAR" />
			<result column="Create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="Update_time" property="updateTime" jdbcType="TIMESTAMP" />
			<result column="Status" property="status" jdbcType="INTEGER" />
			<result column="Remark" property="remark" jdbcType="VARCHAR" />
		</collection>
		<collection property="emp" ofType="com.ht.popj.dailyWork.Emp">
			<id column="id" jdbcType="VARCHAR" property="id" />
			<result column="empname" jdbcType="INTEGER" property="empname" />
		</collection>
		<collection property="flowmodel" ofType="com.ht.popj.flow.FlowsModel">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="flowModelName" property="flowmodelname" />
		</collection>
		<collection property="flowreturnmaterial" ofType="com.ht.popj.flow.FlowReturnmaterial">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="materialid" property="materialid" jdbcType="INTEGER" />
			<result column="counts" property="counts" jdbcType="INTEGER" />
			<result column="empid" property="empid" jdbcType="VARCHAR" />
			<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
			<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
			<result column="status" property="status" jdbcType="INTEGER" />
			<result column="remark" property="remark" jdbcType="VARCHAR" />
			<result column="upset" property="upset" jdbcType="INTEGER" />
			<result column="flowModelTypeid" property="flowmodeltypeid"
				jdbcType="INTEGER" />
			<result column="applyman" property="applyman" jdbcType="VARCHAR" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		id, returnmaterid, flowModelid, empid, remark,status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from flow_returnmaterialdetail where status=1
		and id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * from flow_returnmaterialdetail where status=1 ORDER BY id
		DESC
	</select>


	<select id="selectLength" resultMap="ReturnMap" parameterType="java.lang.Integer">
		SELECT frmd.*,frm.*,m.*,e.*,f.* FROM
		`flow_returnmaterialdetail` frmd,
		`flow_returnmaterial` frm,
		`material` m,`emp` e,flow_model f
		WHERE
		frmd.`returnmaterid` = frm.`id` AND
		frm.`materialid`=m.`id` AND
		frmd.`empid`=e.`id` AND
		frm.`status`=1
		AND f.`id`=frmd.`flowModelId`
		AND
		frm.`id`=#{value}
	</select>

	<select id="selectReturnMateriallist" resultMap="ReturnMap"
		parameterType="java.lang.String">
		SELECT * FROM
		`flow_returnmaterialdetail` frmd,
		`flow_returnmaterial` frm,emp
		e,material m
		WHERE
		frm.`id`=frmd.`returnmaterid`
		AND
		m.id=frm.`materialid`
		AND
		frmd.`status`=2
		AND frmd.`empid`=e.`id`
		AND
		frmd.`empid`=#{value}
	</select>


	<select id="selectSelective" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from flow_returnmaterialdetail
		<where>
			status=1 ORDER BY id DESC
			<if test="returnmaterid != null">
				AND returnmaterid = #{returnmaterid,jdbcType=INTEGER},
			</if>
			<if test="flowmodelid != null">
				AND flowModelid = #{flowmodelid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				AND empid = #{empid,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				AND remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				AND status = #{status,jdbcType=VARCHAR},
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update
		flow_returnmaterialdetail set status=0 where id =
		#{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.ht.popj.flow.FlowReturnmaterialdetail">
		insert into flow_returnmaterialdetail
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="returnmaterid != null">
				returnmaterid,
			</if>
			<if test="flowmodelid != null">
				flowModelid,
			</if>
			<if test="empid != null">
				empid,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="returnmaterid != null">
				#{returnmaterid,jdbcType=INTEGER},
			</if>
			<if test="flowmodelid != null">
				#{flowmodelid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				#{empid,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.flow.FlowReturnmaterialdetail">
		update flow_returnmaterialdetail
		<set>
			<if test="returnmaterid != null">
				returnmaterid = #{returnmaterid,jdbcType=INTEGER},
			</if>
			<if test="flowmodelid != null">
				flowModelid = #{flowmodelid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				empid = #{empid,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>