<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.flow.FlowAdjustMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.flow.FlowAdjust">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="flowModelTypeid" property="flowmodeltypeid"
			jdbcType="INTEGER" />
		<result column="empid" property="empid" jdbcType="INTEGER" />
		<result column="daycounts" property="daycounts" jdbcType="INTEGER" />
		<result column="upset" property="upset" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, flowModelTypeid, empid, daycounts, upset, create_time, update_time,
		status, remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from flow_adjust where status=1 and id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * from flow_adjust where status=1 ORDER BY CreateTime DESC
	</select>

	<select id="selectSelective" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from flow_adjust
		<where>
			status=1 ORDER BY CreateTime DESC
			<if test="flowmodeltypeid != null">
				flowModelTypeid = #{flowmodeltypeid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				empid = #{empid,jdbcType=INTEGER},
			</if>
			<if test="daycounts != null">
				daycounts = #{daycounts,jdbcType=INTEGER},
			</if>
			<if test="upset != null">
				upset = #{upset,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update flow_adjust set status =0
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.ht.popj.flow.FlowAdjust">
		insert into flow_adjust
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="flowmodeltypeid != null">
				flowModelTypeid,
			</if>
			<if test="empid != null">
				empid,
			</if>
			<if test="daycounts != null">
				daycounts,
			</if>
			<if test="upset != null">
				upset,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="flowmodeltypeid != null">
				#{flowmodeltypeid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				#{empid,jdbcType=INTEGER},
			</if>
			<if test="daycounts != null">
				#{daycounts,jdbcType=INTEGER},
			</if>
			<if test="upset != null">
				#{upset,jdbcType=INTEGER},
			</if>
			NOW(),
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.flow.FlowAdjust">
		update flow_adjust
		<set>
			<if test="flowmodeltypeid != null">
				flowModelTypeid = #{flowmodeltypeid,jdbcType=INTEGER},
			</if>
			<if test="empid != null">
				empid = #{empid,jdbcType=INTEGER},
			</if>
			<if test="daycounts != null">
				daycounts = #{daycounts,jdbcType=INTEGER},
			</if>
			<if test="upset != null">
				upset = #{upset,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			update_time =NOW(),
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>