<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.flow.FlowRoleMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.flow.FlowRole">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="roleName" property="rolename" jdbcType="VARCHAR" />
		<result column="roleSelName" property="roleselname" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="invalid" property="invalid" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, roleName, roleSelName, create_time, update_time, invalid, status,
		remark
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap">
	    select * from flow_role where status = 1 order by invalid desc
	</select>
	
	<select id="selectAllByinvalid" resultMap="BaseResultMap">
	    SELECT * FROM flow_role WHERE STATUS = 1 AND invalid = 1 ORDER BY roleSelName
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from flow_role
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from flow_role
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ht.popj.flow.FlowRole">
		insert into flow_role (roleName, roleSelName,
		create_time, invalid, status, remark)
		values (#{rolename,jdbcType=VARCHAR},
		#{roleselname,jdbcType=VARCHAR}, now(), #{invalid,jdbcType=INTEGER},
		1, #{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ht.popj.flow.FlowRole">
		insert into flow_role
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rolename != null">
				roleName,
			</if>
			<if test="roleselname != null">
				roleSelName,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="invalid != null">
				invalid,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="rolename != null">
				#{rolename,jdbcType=VARCHAR},
			</if>
			<if test="roleselname != null">
				#{roleselname,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="invalid != null">
				#{invalid,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.flow.FlowRole">
		update flow_role
		<set>
			<if test="rolename != null">
				roleName = #{rolename,jdbcType=VARCHAR},
			</if>
			<if test="roleselname != null">
				roleSelName = #{roleselname,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			update_time = now(),
			<if test="invalid != null">
				invalid = #{invalid,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ht.popj.flow.FlowRole">
		update flow_role
		set roleName = #{rolename,jdbcType=VARCHAR},
		roleSelName = #{roleselname,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		invalid = #{invalid,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>