<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="   
           http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-3.0.xsd  
           http://www.springframework.org/schema/mvc   
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
           
    
    <bean id="modelselService" class="com.ht.serviceImpl.flow.FlowModelselServiceImpl"></bean>
    <bean id="modelTypeService" class="com.ht.serviceImpl.flow.FlowModeltypeServiceImpl"></bean>
    <bean id="modelService" class="com.ht.serviceImpl.flow.FlowsModelServiceImpl"></bean>
    <bean id="flowRoleService" class="com.ht.serviceImpl.flow.FlowRoleServiceImpl"></bean>
    <bean id="holidayService" class="com.ht.serviceImpl.flow.FlowHolidayServiceImpl"></bean>
    <bean id="holidaydetailService" class="com.ht.serviceImpl.flow.FlowHolidaydetailServiceImpl"></bean>
    <bean id="allService" class="com.ht.serviceImpl.flow.FlowAllServiceImpl"></bean>
    <bean id="applyService" class="com.ht.serviceImpl.flow.FlowStudentApplyServiceImpl"></bean>
    <bean id="applyDetailService" class="com.ht.serviceImpl.flow.FlowStudentApplyDetailServiceImpl"></bean>
    <bean id="flowComputerApplyService" class="com.ht.serviceImpl.flow.FlowComputerApplyServiceImpl"></bean>
    <bean id="flowFeedBackService" class="com.ht.serviceImpl.flow.FlowFeedBackServiceImpl"></bean>
    
</beans>