<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.dailyWork.SwapdutyMapper" >
  <resultMap id="BaseResultMap" type="com.ht.popj.dailyWork.Swapduty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dutyid" property="dutyid" jdbcType="VARCHAR" />
    <result column="weeks1" property="weeks1" jdbcType="VARCHAR" />
    <result column="weekends1" property="weekends1" jdbcType="VARCHAR" />
    <result column="weeks2" property="weeks2" jdbcType="VARCHAR" />
    <result column="weekends2" property="weekends2" jdbcType="VARCHAR" />
    <result column="empid" property="empid" jdbcType="VARCHAR" />
    <result column="applyreason" property="applyreason" jdbcType="VARCHAR" />
    <result column="applytime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="applystatus" property="applystatus" jdbcType="INTEGER" />
    <result column="flowmodelid" property="flowmodelid" jdbcType="INTEGER" />
    <result column="appnum" property="appnum" jdbcType="VARCHAR" />
    <result column="approvalstatus" property="approvalstatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    
    <!-- 关联员工表 -->
    <association property="emp" javaType="com.ht.popj.dailyWork.Emp" column="dutyid" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
        
    </association>
    
    <association property="emp1" javaType="com.ht.popj.dailyWork.Emp" column="empid" select="com.ht.mapper.dailyWork.EmpMapper.selectByPrimaryKey">
        
    </association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    <if test="id != null">
        id = #{id}
    </if>
    <if test="applystatus != null">
        and applystatus = #{applystatus}
    </if>
  </sql>
  
  <select id="findSwapdutyList1" resultMap="BaseResultMap" parameterType="com.ht.popj.dailyWork.Swapduty" >
    select * from swapduty
    <where>
        <include refid="Base_Column_List" />
        and status = 1
    </where>
  </select>
  
  <select id="findSwapdutyList2" resultType="com.ht.popj.dailyWork.Swapduty">
      select * from swapduty where status = 1
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select * from swapduty where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="com.ht.popj.dailyWork.Swapduty" >
      select s.*,e.empname from swapduty s,emp e
    <where>
       e.id = s.dutyid and s.status = 1
       <if test="id != null">
           and s.id = #{id,jdbcType=INTEGER}
       </if>
       <if test="dutyid != null" >
        and s.dutyid = #{dutyid,jdbcType=VARCHAR}
      </if>
      <if test="weeks1 != null" >
        and s.weeks1 = #{weeks1,jdbcType=VARCHAR}
      </if>
      <if test="weekends1 != null" >
        and s.weekends1 = #{weekends1,jdbcType=VARCHAR}
      </if>
      <if test="weeks2 != null" >
        and s.weeks2 = #{weeks2,jdbcType=VARCHAR}
      </if>
      <if test="weekends2 != null" >
        and s.weekends2 = #{weekends2,jdbcType=VARCHAR}
      </if>
      <if test="empid != null" >
        and s.empid = #{empid,jdbcType=VARCHAR}
      </if>
      <if test="applyreason != null" >
        and s.applyreason = #{applyreason,jdbcType=VARCHAR}
      </if>
      <if test="applytime != null" >
        and s.applytime = #{applytime,jdbcType=TIMESTAMP}
      </if>
      <if test="applystatus != null" >
        and s.applystatus = #{applystatus,jdbcType=INTEGER}
      </if>
       <if test="flowmodelid != null" >
        and s.flowmodelid = #{flowmodelid,jdbcType=INTEGER}
      </if>
      <if test="appnum != null" >
        and s.appnum = #{appnum,jdbcType=VARCHAR}
      </if>
      <if test="approvalstatus != null" >
        and s.approvalstatus = #{approvalstatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  
  <delete id="deleteSwapdutyById" parameterType="java.lang.Integer" >
    update swapduty set status = 0 where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.ht.popj.dailyWork.Swapduty" >
    insert into swapduty (id, dutyid, weeks1, 
      weekends1, weeks2, weekends2, 
      empid, applyreason, applytime, 
      applystatus, create_time, update_time, 
      status, remark)
    values (#{id,jdbcType=INTEGER}, #{dutyid,jdbcType=VARCHAR}, #{weeks1,jdbcType=VARCHAR}, 
      #{weekends1,jdbcType=VARCHAR}, #{weeks2,jdbcType=VARCHAR}, #{weekends2,jdbcType=VARCHAR}, 
      #{empid,jdbcType=VARCHAR}, #{applyreason,jdbcType=VARCHAR}, #{applytime,jdbcType=TIMESTAMP}, 
      #{applystatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="addSwapduty" parameterType="com.ht.popj.dailyWork.Swapduty" >
    insert into swapduty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dutyid != null" >
        dutyid,
      </if>
      <if test="weeks1 != null" >
        weeks1,
      </if>
      <if test="weekends1 != null" >
        weekends1,
      </if>
      <if test="weeks2 != null" >
        weeks2,
      </if>
      <if test="weekends2 != null" >
        weekends2,
      </if>
      <if test="empid != null" >
        empid,
      </if>
      <if test="applyreason != null" >
        applyreason,
      </if>
      <if test="applytime != null" >
        applytime,
      </if>
      <if test="applystatus != null" >
        applystatus,
      </if>
      <if test="flowmodelid != null" >
        flowmodelid,
      </if>
      <if test="appnum != null" >
        appnum,
      </if>
      <if test="approvalstatus != null" >
        approvalstatus,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dutyid != null" >
        #{dutyid,jdbcType=VARCHAR},
      </if>
      <if test="weeks1 != null" >
        #{weeks1,jdbcType=VARCHAR},
      </if>
      <if test="weekends1 != null" >
        #{weekends1,jdbcType=VARCHAR},
      </if>
      <if test="weeks2 != null" >
        #{weeks2,jdbcType=VARCHAR},
      </if>
      <if test="weekends2 != null" >
        #{weekends2,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=VARCHAR},
      </if>
      <if test="applyreason != null" >
        #{applyreason,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applystatus != null" >
        #{applystatus,jdbcType=INTEGER},
      </if>
      <if test="flowmodelid != null" >
        #{flowmodelid,jdbcType=INTEGER},
      </if>
      <if test="approvalstatus != null" >
        #{approvalstatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateSwapduty" parameterType="com.ht.popj.dailyWork.Swapduty" >
    update swapduty
    <set >
      <if test="dutyid != null" >
        dutyid = #{dutyid,jdbcType=VARCHAR},
      </if>
      <if test="weeks1 != null" >
        weeks1 = #{weeks1,jdbcType=VARCHAR},
      </if>
      <if test="weekends1 != null" >
        weekends1 = #{weekends1,jdbcType=VARCHAR},
      </if>
      <if test="weeks2 != null" >
        weeks2 = #{weeks2,jdbcType=VARCHAR},
      </if>
      <if test="weekends2 != null" >
        weekends2 = #{weekends2,jdbcType=VARCHAR},
      </if>
      <if test="empid != null" >
        empid = #{empid,jdbcType=VARCHAR},
      </if>
      <if test="applyreason != null" >
        applyreason = #{applyreason,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null" >
        applytime = #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="applystatus != null" >
        applystatus = #{applystatus,jdbcType=INTEGER},
      </if>
       <if test="flowmodelid != null" >
        flowmodelid = #{flowmodelid,jdbcType=INTEGER},
      </if>
      <if test="appnum != null" >
        appnum = #{appnum,jdbcType=VARCHAR},
      </if>
      <if test="approvalstatus != null" >
        approvalstatus = #{approvalstatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      update_time = NOW(),
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.popj.dailyWork.Swapduty" >
    update swapduty
    set dutyid = #{dutyid,jdbcType=VARCHAR},
      weeks1 = #{weeks1,jdbcType=VARCHAR},
      weekends1 = #{weekends1,jdbcType=VARCHAR},
      weeks2 = #{weeks2,jdbcType=VARCHAR},
      weekends2 = #{weekends2,jdbcType=VARCHAR},
      empid = #{empid,jdbcType=VARCHAR},
      applyreason = #{applyreason,jdbcType=VARCHAR},
      applytime = #{applytime,jdbcType=TIMESTAMP},
      applystatus = #{applystatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>