<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.sysSet.ApproveTypeMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.sysSet.ApproveType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="approvename" property="approvename" jdbcType="VARCHAR" />
		<result column="invalid" property="invalid" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, approvename, invalid, createtime, updatetime, status, remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from approvetype
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="com.ht.popj.sysSet.ApproveType">
		select
		<include refid="Base_Column_List" />
		from approvetype
		<where>
			Status=1
			<if test="approvename !=null and approvename !=''">
				AND approvename LIKE '%${approvename}%'
			</if>
			<if test="invalid !=null">
				AND invalid = #{invalid}
			</if>
		</where>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update approvetype set status=0
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.ht.popj.sysSet.ApproveType">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into approvetype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="approvename != null">
				approvename,
			</if>
			<if test="invalid != null">
				invalid,
			</if>
				createtime,
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="approvename != null">
				#{approvename,jdbcType=VARCHAR},
			</if>
			<if test="invalid != null">
				#{invalid,jdbcType=INTEGER},
			</if>
				NOW(),
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.sysSet.ApproveType">
		update approvetype
		<set>
			<if test="approvename != null">
				approvename = #{approvename,jdbcType=VARCHAR},
			</if>
			<if test="invalid != null">
				invalid = #{invalid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
				updatetime = NOW(),
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>