<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.student.StuRepScoreDMapper" >
  <resultMap id="BaseResultMap" type="com.ht.popj.student.StuRepScoreD" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="srs_id" property="srsId" jdbcType="INTEGER" />
    <result column="srm_id" property="srmId" jdbcType="INTEGER" />
    <result column="srmd_id" property="srmdId" jdbcType="INTEGER" />
    <result column="srsd_score" property="srsdScore" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, srs_id, srm_id, srmd_id, srsd_score, create_time, update_time, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stu_rep_score_d
    where id = #{id,jdbcType=INTEGER} and status =1 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stu_rep_score_d
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.ht.popj.student.StuRepScoreD" >
    insert into stu_rep_score_d
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="srsId != null" >
        srs_id,
      </if>
      <if test="srmId != null" >
        srm_id,
      </if>
      <if test="srmdId != null" >
        srmd_id,
      </if>
      <if test="srsdScore != null" >
        srsd_score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="srsId != null" >
        #{srsId,jdbcType=INTEGER},
      </if>
      <if test="srmId != null" >
        #{srmId,jdbcType=INTEGER},
      </if>
      <if test="srmdId != null" >
        #{srmdId,jdbcType=INTEGER},
      </if>
      <if test="srsdScore != null" >
        #{srsdScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.popj.student.StuRepScoreD" >
    update stu_rep_score_d
    <set >
      <if test="srsId != null" >
        srs_id = #{srsId,jdbcType=INTEGER},
      </if>
      <if test="srmId != null" >
        srm_id = #{srmId,jdbcType=INTEGER},
      </if>
      <if test="srmdId != null" >
        srmd_id = #{srmdId,jdbcType=INTEGER},
      </if>
      <if test="srsdScore != null" >
        srsd_score = #{srsdScore,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="delByUpdate" parameterType="int" >
    update stu_rep_score_d set status = 0 where id = #{id}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
      select * from stu_rep_score_d where status = 1
  </select>
  <resultMap type="com.ht.popj.student.StuRepScoreD" id="stuRepScoreDRM" extends="BaseResultMap">
	    <association property="stuReplyModelD" javaType="com.ht.popj.student.StuReplyModelD" column="srmd_id" select="com.ht.mapper.student.StuReplyModelDMapper.selectByPrimaryKey">
	    </association>
	    <association property="srs" javaType="com.ht.popj.student.StuRepScore" column="srs_id" select="com.ht.mapper.student.StuRepScoreMapper.selectByPrimaryKey">
	    </association>
  </resultMap>
  <select id="selectBysrsId" resultMap="stuRepScoreDRM" parameterType="int">
      select * from stu_rep_score_d where status = 1 and srs_id = #{id}
  </select>
  <!-- 通过得分表的id来统计总分 -->
  <select id="countScoreBysrmId" resultType="int" parameterType="int">
      SELECT SUM(srsd_score) FROM stu_rep_score_d WHERE srs_id = #{id} GROUP BY srs_id
  </select>
  <select id="countBysrmdId" resultType="int" parameterType="int">
      SELECT count(*) FROM stu_rep_score_d WHERE srmd_id = #{value}
  </select>
</mapper>