<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.mapper.education.EduFeedbackDetailMapper">
	<resultMap id="BaseResultMap" type="com.ht.popj.education.EduFeedbackDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="feedback_id" property="feedbackId" jdbcType="INTEGER" />
		<result column="template_id" property="templateId" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="REAL" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, feedback_id, template_id, score, create_time,
		update_time, status,
		remark
	</sql>
	<select id="getFeedbackDetail" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from edu_feedback_detail
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteFeedbackDetail" parameterType="java.lang.Integer">
		delete from
		edu_feedback_detail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ht.popj.education.EduFeedbackDetail">
		insert into
		edu_feedback_detail (id, feedback_id, template_id,
		score, create_time,
		update_time,
		status, remark)
		values (#{id,jdbcType=INTEGER},
		#{feedbackId,jdbcType=INTEGER},
		#{templateId,jdbcType=INTEGER},
		#{score,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{status,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="addFeedbackDetail" parameterType="com.ht.popj.education.EduFeedbackDetail">
		insert into edu_feedback_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="feedbackId != null">
				feedback_id,
			</if>
			<if test="templateId != null">
				template_id,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="feedbackId != null">
				#{feedbackId,jdbcType=INTEGER},
			</if>
			<if test="templateId != null">
				#{templateId,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=REAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateFeedbackDetail" parameterType="com.ht.popj.education.EduFeedbackDetail">
		update edu_feedback_detail
		<set>
			<if test="feedbackId != null">
				feedback_id = #{feedbackId,jdbcType=INTEGER},
			</if>
			<if test="templateId != null">
				template_id = #{templateId,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=REAL},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ht.popj.education.EduFeedbackDetail">
		update
		edu_feedback_detail
		set feedback_id = #{feedbackId,jdbcType=INTEGER},
		template_id = #{templateId,jdbcType=INTEGER},
		score =
		#{score,jdbcType=REAL},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		status =
		#{status,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR}
		where id
		= #{id,jdbcType=INTEGER}
	</update>
	<select id="getAllFeedbackDetail" resultMap="BaseResultMap">
		select * from edu_feedback
	</select>
	<resultMap type="com.ht.popj.education.EduFeedbackDetail" id="getbackrelative"
		extends="BaseResultMap">
		<association property="template"
			javaType="com.ht.popj.finance.FinaceFeedbackset" column="template_id"
			select="com.ht.mapper.finance.FinaceFeedbacksetMapper.selectByPrimaryKey">
		</association>
	</resultMap>
	<select id="getSomeFeedBackDetail" resultMap="getbackrelative">
		select * from edu_feedback_detail e
		<where>
			<if test="id != null">
				e.id = #{id}
			</if>
			<if test="feedbackId != null">
				and e.feedback_id = #{feedbackId}
			</if>
			<if test="ids != null">
				<foreach collection="ids" open="AND  e.feedback_id IN(" close=")" item="fid" separator=",">
					#{fid}
				</foreach>
			</if>
			and e.status=1
		</where>
	</select>
	<select id="getSumByFeedBackId" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select sum(score) scoresum from edu_feedback_detail where feedback_id=#{id}

	</select>
</mapper>